<div class="data-form">
    <form class="form-signin" action="<%=`/questions/create`%>" method="POST">
        <h2 class="form-signin-heading">Create a new Question:</h2>
        <label for="inputTitle">Title</label>
        <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus>
        <label for="inputText">Text</label>
        <input type="text" name="text" id="inputText" class="form-control" placeholder="Text" autofocus>
        <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
</div>
