<div class="col-sm-6">
    <h1>Welcome!</h1>
    <p> Please check out this new Q&A App.</p>
    <p> If you want to add a new Question, click the <a href="/questions">Questions page</a> and go on!</p>
</div>
